* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

h1 {
    color: tomato;
}

#turn {
    color: tomato
}

table {
    width: 100%;
}

button {
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: mediumspringgreen;
}

.blue {
    background-color: dodgerblue !important;
}

.red {
    background-color: red !important;
}